{% extends "base.html" %}

{% block content %}
<div id="template-manager-root" class="w-full">
    <!-- React Template Manager will render here -->
</div>
{% endblock %}

{% block scripts %}
{% if config['DEBUG'] %}
    <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/entry/template_manager.tsx"></script>
{% else %}
    <script type="module" src="{{ url_for('static', filename='dist/assets/template_manager-[hash].js') }}"></script>
{% endif %}
{% endblock %}