{% extends "base.html" %}
{% block content %}
<div id="view-report-root" 
     data-report-id="{{ report_id }}"
     class="w-full">
</div>
{% endblock %}

{% block scripts %}
{% if config['DEBUG'] %}
    <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/entry/view_report.tsx"></script>
{% else %}
    <script type="module" src="{{ url_for('static', filename='dist/assets/view_report-[hash].js') }}"></script>
{% endif %}
{% endblock %}